// Colors.
$color-black: #202020;
$color-blue: #2F74C0;
$color-gray-lt: #E9E9E9;
$color-white: #FFFFFF;

// Fonts.
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-main: 'Roboto', sans-serif;