@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* This defines what 1rem is. */
    font-size: 62.5%;   /* 0.625 x 16px = 10px. */
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 2rem;
}

:root {
    --color-green: #698474;
    --color-black-light: #505050;
    --color-blue: #04396C;
    --color-blue-light-1: #e6f2ff;
    --color-grey-light-1: #ebedf0;
    --color-brown: brown;
}

h1, h2, h3 {
    margin: 2rem auto;
}

h1 {    
    font-size: 3.5rem;
    text-align: center;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 2.25rem;
}

h1 span {
    display: block;
    font-size: 1.5rem;
    color: var(--color-black-light);
}

p {
    margin: 1rem 0;   
}

.credit {
    font-size: 1.1rem;
}

p:not(:first-of-type) {
    margin: 2rem 0 0 0;
}

a:link, a:active, a:visited {
    color: var(--color-green);
    font-weight: 600;
    text-decoration: none;
}

ol, ul {
    margin: 2rem 0 2rem 5rem;
}

ol ol, ol ul, ul ul {
    margin: 2rem 0 2rem 5rem;
}

ol li, ul li {
    line-height: 1.5;
}

/* Document index style */
ul.index {
    font-size: 1.7rem;    
    font-weight: 600;
    list-style: none;
}

ul.index li::before {
    content: "\00BB";
    color: var(--color-green);
    font-size: 2.3rem;
    margin: 0 1rem 0 0;
}

ol.index li, ul.index li {
    line-height: 1;
}

code.block {
    display: inline-block;
    margin: 0.75rem;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    /*background-color: var(--color-grey-light-1);*/
}

code.block heading, pre.code heading {
    display: inline-block;
    margin: 0;
    line-height: 0.75;
    font-weight: 700;
    font-style: italic;
    color: var(--color-brown);
}

pre.code {
    margin: .75rem 0;
    padding: 1rem;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-blue);
}

com {
    display: inline-block;
    color: var(--color-green);
}

emph {
    font-weight: 500;
    color: var(--color-brown);
}